html,
body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background-color: #1A1A1D;
}

.joinInnerContainer {
	width: 20%;
}

.joinInput {
	border-radius: 5px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #dcdcdc;
}

.heading {
	color: white;
	font-size: 2.3em;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.button {
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid #ff6918;
	padding: 23px 10px;
	display: inline-block;
	max-width: 225px;
	text-align: center;
	width: 100%;
	background-color: black;
}

.button:hover {
	background-color: #ff6918;
	cursor: pointer;
	transition: all .5s ease;
}

.mt-20 {
	margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.joinOuterContainer {
		height: 100%;
	}
	.joinInnerContainer {
		width: 90%;
	}
}

button:focus {
	outline: 0;
}
.logo{
  background-image: url("../../assets/CogniteLogo_new.svg");
  height: 80px;
  width: 288px;
  background-size: 288px;
  background-repeat: no-repeat;
}
.credit{
  margin-top: 20px;
  color: white;
  font-size: 10px;
  font-weight: bold;
}